.sidebar {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(110, 110, 110, 0.3);
  top: 0;
  z-index: 1;
  transform: translateX(-100%);
}
.sidebar-active {
  transform: translateX(0);
}
.sidebar-active .side-nav {
  transform: translateX(0);
}
.side-nav {
  transform: translateX(-100%);
  transition: all 0.3s;
  height: 100%;
  margin-top: 0;
  padding-top: 3rem;
  min-width: 280px;
  display: inline-block;
  background-color: #fff;
}
.side-nav .side-nav-item {
  margin: 0 1rem;
}

.side-nav .dropdown__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.side-nav .dropdown-active {
  max-height: 500px;
}
.dropdown__content .dropdown-item {
  transition: all 0.3s;
}

.sidebar .nav-link {
  padding: 0.75rem;
  display: block;
  transition: background-color 0.5s;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
}
.sidebar .nav-link:hover {
  background-color: #f5f5f5;
}
.sidebar .nav-link.active {
  background-color: #e0e0e0;
}
.navbar .nav-wrapper .navbar-dropdown {
  position: relative;
}
.navbar-dropdown.navbar-dropdown-active .navbar-dropdown__content {
  height: auto;
}
.navbar-dropdown .navbar-dropdown__content {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(110, 110, 110, 0.3);
  height: 0;
  overflow: hidden;
  transition: all 1s;
}
/* .navbar .nav-wrapper .navbar-dropdown__content li {
} */
