@import '~materialize-css/dist/css/materialize.min.css';
@import './css/modal';

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  min-height: 100vh;
}

.collapsible-header {
  flex-direction: column;
  position: relative;
}
.collapsible-header h6 {
  margin-top: 0;
}

.to-detail {
  display: block;
  z-index: 1;
  transition: all 0.2s;
  transform: translateY(0);
}
.to-detail:hover {
  transform: translateY(-4px);
  text-shadow: 0px 7px 5px rgba(150, 150, 150, 0.84);
}

.open {
  display: block;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader .preloader-wrapper {
  margin: auto;
}

.main {
  height: 100%;
  padding-top: 5rem;
}

.navbar {
  padding: 0 2rem;
}

.tabs .indicator {
  background-color: #3f51b5;
}
.tabs .tab .active {
  background-color: #c5cae9 !important;
}

.date-filter {
  transition: all 0.4s;
  max-height: 200px;

  overflow: hidden;
}

.date-filter-toggler {
  display: none;
}

.status-progress {
  background-color: #42a5f5 !important;
  color: #fff;
}
.status-awaiting {
  background-color: #e0e0e0 !important;
}
.status-done {
  background-color: #00e676 !important;
  color: #fff;
}

.single {
  height: 100%;
}

@media screen and (max-width: 992px) {
  .nav-wrapper .right {
    visibility: hidden;
    max-height: 1px;
  }
  .date-filter-toggler {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .date-filter-close {
    max-height: 0px;
  }
}
